*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  color:white;
}
body {
 /* background-color:rgb(11, 19, 43) */
 background-color:rgb(8, 10, 23);
}
/*.skills{
  
} */




.profession h1,h3{
  font-family: 'Prompt', sans-serif;
}



@media only screen and (max-width: 600px) {
    .background{
      width:100vw;
      height: 200px;
    }
    .background img{
      width: 100%;
      height: 200px;
    }
    .profession{
      padding-left: 8%;
      padding-top: 8%;
      padding-bottom:8%;
    }
    .profession h1{
      padding-bottom: 10px;
    }
    .profession h3{
      width:60%;
      padding-bottom: 15px;
      border-bottom: solid 5px;
      border-bottom-color:rgb(215, 38, 61) ;
    }
    .presentacion{
      padding: 20px;
      display:flex;
      flex-direction: column;
      row-gap:10px;
    }
    .fotos{
      width: 100vw;
      display:flex;
      justify-content: center;
      padding: 50px 0px;
    }
    .mi-foto{
      width:70%;
      
    }
    .foto{
      width: 100%;
      height: 280px;
    }
    .skills{
      padding: 20px;
      text-align: center;
      border-top: solid 3px rgb(215, 38, 61);
      
    }
    .skills h2{
      text-align: center;
    }
    .list{
      padding: 20px;
    }
    .list ul{
      display:flex;
      flex-direction:column;
      row-gap: 5px;
      align-items: center;
    }
    .list ul li{
      list-style: none;
      display:flex;
      flex-direction: column;
      align-items: center;
      row-gap:10px;
      padding: 20px;
    }
    .list ul li svg{
      width: 50px;
      height: 50px;
    }
    .laboral-experience{
      padding: 35px;
      
    border-top: solid 3px rgb(215, 38, 61);
    border-bottom: solid 3px rgb(215, 38, 61);
    }
    .laboral-experience ul{
      display:flex;
      flex-direction:column;
      row-gap: 5px;
      padding: 20px 40px;
      background-color:rgb(28, 37, 65);
      margin-top: 18px;
      border-radius: 15px;
    }
    .laboral-experience ul li{
      font-size: 15px;
    }
    .projects{
      padding: 20px;
      display:flex;
      flex-direction: column;
      row-gap:45px;
      align-items: center;
    }
    .project{
      width: 80%;
    }
    .project p{
      padding-bottom: 25px;
    }
    .project img{
      width: 100%;
      height: 150px;
    }


    .social{
      padding: 20px;
    }
    .social ul{
      padding: 40px;
      display:flex;
      column-gap: 10px;
      justify-content: center;
      flex-direction: column;
      row-gap:20px;

    }
    .social ul li{
      list-style: none;
    }
    .social ul li a{
      text-decoration: none;
      display: flex;
    justify-content: space-around;
    }
    .social ul li a svg{
      width: 30px;
    height: 30px;
    }
    .form{
      padding: 20px;
    }
    .form h2{
      padding: 10px;
    }
    .form form{
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
    .form input,textarea{
      background: none;
      border: none;
      padding: 15px;
    }
    .form-button{
      background-color: rgb(215, 38, 61);
      padding: 10px;
      border: none;
      width:70%;
      align-self:center;
      border-radius: 15px;
    }
    .thanks{
      padding: 20px;
    }
    .about-me{
      padding: 15px;
    }
}



@media only screen and (min-width: 768px) {

  .background{
    width:100vw;
    height: 600px;
  }
  .background img{
    width: 100%;
    height: 600px;
  }
  .profession{
    padding-left: 8%;
    padding-top: 8%;
    padding-bottom:8%;
  }
  .presentacion{
    padding: 20px;
    font-size: 25px;
    display:flex;
    flex-direction: column;
    row-gap:20px;
  }
  .profession h1{
    font-size: 50px;
  }
  .profession h3{
    font-size: 30px;
    width: 450px;
    padding-bottom: 25px;
    border-bottom: solid 8px;
    border-bottom-color:rgb(215, 38, 61) ;
  }
  .fotos{
    width: 100vw;
    display:flex;
    justify-content: center;
  }
  .mi-foto{
    width:70%;
    
  }
  .foto{
    width: 100%;
    height: 300px;
  }
  .skills p{
    
    font-size:30px;
    text-align: center;
  }
  .skills{
    
    padding: 80px 20px;
    display:flex;
    flex-direction: column;
    row-gap:100px
  }
  .list{
    padding: 20px;
  }
  .list ul{
    display:flex;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: center;
  }
  .list ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    width:25%;
    padding: 10px;
    align-items: center;
    row-gap: 30px;
  }
  .list ul li svg{
    width: 50px;
    height: 50px;
  }
  .laboral-experience{
    padding: 60px;
  }
  .laboral-experience p{
    font-size:25px
  }
  .laboral-experience ul{
    display:flex;
    flex-direction:column;
    row-gap: 30px;
    padding: 120px 0px;
    
  }
  .laboral-experience ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  
  .projects{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:100px;
    padding-bottom:100px;

  }
  .project p{
    width: 800px;
    padding:20px;
    text-align: center;
  }
  .project-img{
    width: 800px;
  }

  .line-up{
    display:flex;
  }

  .social{
    
    padding: 30px ;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
  }
  .social p{
    text-align: center;
  }
  .social ul{
    padding: 40px;
    display:flex;
    column-gap: 10px;
    justify-content: space-evenly;
  }
  .social ul li{
    list-style: none;
    
  }
  .social ul li a{
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
    row-gap:30px
  }
  .social ul li a svg{
    width:50px;
    height:50px;
  }
  .form{
    padding: 80px 300px;
    
  }
  .form h2{
    padding: 10px;
  }
  .form form{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .form input,textarea{
    background: none;
    border: none;
    padding: 15px;
  }
  .form-button{
    background-color: rgb(215, 38, 61);
    padding: 10px;
    border: none;
    width:70%;
    align-self:center;
    border-radius: 15px;
  }

  .about-me{
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
  .foto{
    width: 300px;
    height: 300px;
  }
  .thanks{
    padding: 100px 200px;
  }

}